{{{headelement}}}
<script src="https://minio.swayme.xyz/ui-kit/sway-ui.js"></script>
<div id="mw-mf-viewport">
    <div id="mw-mf-page-center">
		<a class="mw-mf-page-center__mask" href="#"></a>
        <header class="header-container header-chrome">
			<form class="header" action="{{wgScript}}" method="get">
				<nav class="navigation-drawer toggle-list view-border-box">
					<input type="checkbox" id="main-menu-input" class="toggle-list__checkbox" role="button" aria-labelledby="mw-mf-main-menu-button">
					<label for="main-menu-input" id="mw-mf-main-menu-button"
						class="mw-ui-icon mw-ui-icon-element mw-ui-icon-wikimedia-menu-invert mw-ui-icon-flush-left toggle-list__toggle"
						title="{{main-menu-tooltip}}" data-event-name="ui.mainmenu">{{main-menu-tooltip}}</label>
					{{#data-main-menu}}{{>menu}}{{/data-main-menu}}
					<label class="main-menu-mask" for="main-menu-input"></label>
				</nav>
				<div style="position: relative; left: -20px; top: 2px" >
					<a href="{{homeURL}}">
                        <svg width="45" fill="white" height="33" viewBox="0 0 65 45">
                            <path fill-rule="evenodd" d="M32.456 1.053a3.595 3.595 0 00-5.083 0l-9.32 9.32a3.594 3.594 0 000 5.084L34.69 32.093a1.416 1.416 0 102.003-2.003L20.056 13.454a.762.762 0 010-1.079l9.32-9.32a.762.762 0 011.078 0l5.82 5.821a5.01 5.01 0 102.013-1.992l-5.83-5.831zm-2.733 10.006a1.416 1.416 0 00-2.003 2.003l17.1 17.099a.763.763 0 010 1.078l-9.706 9.705a.762.762 0 01-1.078 0l-7.547-7.546a5.01 5.01 0 10-2.11 1.895l7.654 7.654a3.595 3.595 0 005.084 0l9.705-9.705a3.595 3.595 0 000-5.084l-17.1-17.1zm-5.859 21.143a1.417 1.417 0 00-.462.4 2.179 2.179 0 11.462-.4zM40.662 9.119a2.179 2.179 0 100 4.357 2.179 2.179 0 000-4.357z"></path>
                        </svg>
					</a>
				</div>
				<div class="search-box">
					<input class="search mw-ui-wikimedia-icon-search-invert skin-minerva-search-trigger" type="search" name="search" id="searchInput"
						autocomplete="off" placeholder="{{placeholder}}" aria-label="{{placeholder}}"
						value="{{search}}">
				</div>
				<nav class="minerva-user-navigation" aria-label="{{userNavigationLabel}}">
					<div>{{{searchButton}}}</div>
					{{^isAnon}}
							<div class="minerva-user-notifications" id="pt-notifications-alert">
								{{{userNotificationsHTML}}}
							</div>
					{{/isAnon}}
<!--               remove '/'  to uncomment    -->
<!--                    {{!#userMenuHTML}}{/{/{userMenuHTML}}}{{!/userMenuHTML}}-->
				</nav>
			</form>
		</header>
		<main id="content" class="mw-body">
			<div class="banner-container">
			{{>banners}}
			</div>
			{{#hasheadingholder}}
			{{{prebodyhtml}}}
			<div class="pre-content heading-holder">
				<div class="page-heading">
					{{{headinghtml}}}
					{{{taglinehtml}}}
				</div>
				{{#tabs}}
					<div class="minerva__tab-container">
						{{#items}}
							<a href="{{href}}" rel="{{rel}}" class="minerva__tab {{class}}" data-event-name="tabs.{{context}}">{{text}}</a>
						{{/items}}
					</div>
				{{/tabs}}
				{{{pageactionshtml}}}
				{{{postheadinghtml}}}
				{{{internalBanner}}}
				<div class="minerva__subtitle">{{{subtitle}}}</div>
			</div>
			{{/hasheadingholder}}
			{{{precontenthtml}}}
			{{{contenthtml}}}
			<div class="post-content" id="page-secondary-actions">
			{{{secondaryactionshtml}}}
			</div>
		</main>
		{{>footer}}
        <br>
        <br>
        <br>
        <sway-footer></sway-footer>
	</div>
</div>
<div class="mw-notification-area" data-mw="interface"></div>
<!-- v:8.3.0 -->
